@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

ion-content,
ion-toolbar {
  font-family: 'Abel', sans-serif;
  --color: #fff;
  --background: #010101;
}


.img {
  width: 180px;
  margin: 15% auto 0 auto;

}

.img {
  width: 180px;
  margin: 20px auto 0 auto;
  background: none;
  border: none;
  box-shadow: none;

}

.img img {
  object-fit: cover;
  width: 100%;
  background: none;
}

.box {
  width: 100%;
  margin: auto;
  text-align: start;
  --font-family: 'Abel', sans-serif;
}

ion-row {
  margin-top: 13px;
}

ion-col {
  margin: 0 auto 8px auto;

}

.button {
  margin-top: 5px;
}

.button ion-button {
  --background: rgba(243, 41, 41, 0.686);

}

label {
  font-size: 18px;
  color: rgb(181, 171, 171);
}

ion-input {
  color: #000;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.892);
  margin-top: 5px;

}

.salir {
  text-align: center;
  font-size: 16px;
  margin-right: 8px;
}

.recargar {
  background: rgba(23, 111, 11, 0.686);
  text-align: justify;
  width: 90%;
  margin: auto;
  padding: 8px;
  font-size: 18px;
}

.error{
	font-family: 'Abel', sans-serif;
	color: #ff0000f3;
	font-size: 18px;
}