<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>PERFIL</ion-title>
    <div slot="end" (click)="cerrarSesion()" class="salir">
 
      <ion-icon name="exit-outline" style="font-size: 20px; text-align: center;"> </ion-icon> 
     <br>
      Cerrar Sesión
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="img">

  <img src="assets/avatar.png">

</ion-card>

<form [formGroup]="frmPerfil" class="box" >
  <ion-row>

    <ion-col size="11">
<label >Imagen</label>
        <ion-input  type="file"   (change)="obtenerImagen($event)"  >

        </ion-input>
      
    </ion-col>

    <ion-col size="11">
      <label >Usuario</label>
      <ion-input type="text"  #user formControlName="usuario"  [ngModel]="usuario" >
        
      </ion-input>
      <span class="error" *ngIf="(this.frmPerfil.get('usuario').hasError('minlength')) && (this.frmPerfil.get('usuario').touched) " >*Minimo 5 caracteres</span>
      <span class="error" *ngIf="(this.frmPerfil.get('usuario').hasError('maxlength')) && (this.frmPerfil.get('usuario').touched) " >*Máximo 15 caracteres</span>
    </ion-col>

    <ion-col size="11" class="button">
      <ion-button [disabled]="frmPerfil.invalid" expand="block"  (click)="actualizarData(user)" >
        <ion-icon name="save"></ion-icon>Editar
      </ion-button>
    </ion-col>
   
  </ion-row>

</form>

<div *ngIf="estado" class="recargar">
  <p>Vuelva a iniciar sesión para poder visualizar los cambios efectuados</p>
</div> 
</ion-content>


<ion-footer>
  <app-menu></app-menu>
</ion-footer>