<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title > CARTELERA</ion-title>

    <ion-buttons slot="end">
      <a routerLink="/principal">
        <ion-icon name="search-outline" class="lupa"></ion-icon>
      </a>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-slides [options]="options">
    <ion-slide *ngFor="let item of  ArrayEstrenos"  class="ion-margin-top">

      <div class="cartelera" (click)="getID(item.id)">

        <img class="poster_path" *ngIf="item.poster_path "
          src="https://image.tmdb.org/t/p/original/{{item.poster_path}} ">

      </div>
    </ion-slide>
  </ion-slides>

  <h1>Tendencias</h1>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide *ngFor="let item of ArrayTendencias">
      <ion-card (click)="getID(item.id)">
        <img class="poster_path" *ngIf="item.poster_path else error"
          src="https://image.tmdb.org/t/p/original/{{item.poster_path}} ">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h1>Polulares</h1>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide *ngFor="let item of ArrayPopulares">
      <ion-card (click)="getID(item.id)">
        <img class="poster_path" *ngIf="item.poster_path else error"
          src="https://image.tmdb.org/t/p/original/{{item.poster_path}} ">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h1>Mejores Valorados</h1>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide *ngFor="let item of ArrayCalificados">
      <ion-card (click)="getID(item.id)">
        <img class="poster_path" *ngIf="item.poster_path else error"
          src="https://image.tmdb.org/t/p/original/{{item.poster_path}} ">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h1>Próximamente</h1>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide *ngFor="let item of ArrayProximos">
      <ion-card (click)="getID(item.id)">
        <img class="poster_path" *ngIf="item.poster_path else error"
          src="https://image.tmdb.org/t/p/original/{{item.poster_path}} ">
      </ion-card>
    </ion-slide>
  </ion-slides>



</ion-content>

<ion-footer class="ion-no-border">
  <app-menu ></app-menu>
</ion-footer>
