@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

ion-content,ion-toolbar{
    font-family: 'Abel', sans-serif;
    --color:#fff ;
   
  }

  ion-content{
    --background:#010101;
  }