@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

ion-content,ion-toolbar{
	--background: #010101e5;
}

ion-input{
	font-size: 20px;
		font-family: 'Abel', sans-serif;
	color: #fff;
	border-bottom:1px rgb(181, 171, 171) solid;
}

ion-title{
	color:#fff;
	text-align: center;
	margin-top: 15%;
	font-size: 27px;
	font-family: 'Abel', sans-serif;
}
.img{
	width: 180px;
	margin: 20px auto 0 auto;
	background: none;
	border:none;
	box-shadow: none;
	
}
.img img{
	object-fit: cover;
	width: 100%;
	background: none;
}
.box{
	width: 100%;	
	margin: auto;
	text-align: start;
	--font-family: 'Abel', sans-serif;
}

ion-row{
	margin-top: 20px;
}
ion-col{
	margin:0 auto 8px auto;
	
}

.button{
	margin-top: 20px;
}
.button ion-button{
	--background: rgb(243, 41, 41);
	
}